<!DOCTYPE html>
<html>
<head>
	<title> MY SECOND WEB PAGE</title>
</head>
<body>
<h1> Contact Details</h1>
<form action="" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<button type="submit"  name="submit">submit</button>  
</form>
</body>
</html>